{% extends 'partials/base.html' %}
{% block title %}Post detail{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-3 pt-5"> <!-- Adjusted top margin to pt-5 for a bit more space -->
        <!-- Column for the Form -->
        <div class="col-md-8 offset-md-2">
            <div class="card shadow my-2">
               
                <div class="card-body">
                    <div class="col-md-4">  
                        <img class="img-thumbnail" src="{{ post.author.profilemodel.image.url }}" alt="profile-img">
                    </div>
                    <div class="col-md-8">
                        <small>
                            {{ post.date_created }}
                        </small>
                        {% if post.author == request.user %}
                            <span>
                                <a class="btn btn-danger float-right btn-sm" href="{% url 'blog-post-delete' post.id %}">Delete</a>
                            </span>

                            <span>
                                <a class="btn btn-primary mx-2 float-right btn-sm" href="{% url 'blog-post-edit' post.id %}">Edit</a>
                            </span>
                                
                        {% endif %}
                            
                           
                        
                        <hr>
                        <h4>{{post.title}}</h4>
                        <p>
                            {{ post.content }}
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Column for the Posts -->

    </div>
</div>
{% endblock %}
