{% extends 'partials/base.html' %}
{% block title %}Logout Page{% endblock %}
{% block content %}



<div class="container">
    <div class="row mt-3 pt-5"> <!-- Adjusted top margin to pt-5 for a bit more space -->
        <!-- Column for the Form -->
        <div class="col-md-6 offset-md-3">
            <div class="card shadow my-2">
                <div class="card-body">
                    <h4>Logout Page</h4>
                    <div class="alert alert-info">
                        You have been Logged out.
                    </div>
                    <a href="{% url 'users-login' %}">Login</a>
                </div>
            </div>
        </div>

{% endblock %}